<template>
  <div class="hello">
    <h1>My Vue App - Contact Us</h1>
    <h2>{{ msg }}</h2>
    <h3>If you really want to, then email us at: {{ email }}</h3>
    <ul>
      <router-link to="/">Home</router-link>
      <li>
        <router-link to="about">About</router-link>
      </li>
      <li>
        <router-link to="contact">Contact</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'contact',
  data () {
    return {
      msg: 'This is a contact us page. DONT Contact us!',
      email: ''
    }
  },
  mounted()
  {
      console.log("Getting Email");
      axios
      .get('http://localhost/mylaravelapp/public/api/emails')
      .then(response => {
          if (response.status === 200) {
              //console.log(response.data.email);
              this.email = response.data.email;
          } else {
              console.log("API Error: " + response.data.message);
          }
      }).catch(error => {
          console.log(error);
      });
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
